In [1]:
import pandas as pd
df = pd.read_csv("../input/train_folds.csv")

In [2]:
df.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target', 'kfold'],
      dtype='object')

In [3]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,kfold
0,223793,0,0,1,F,Y,Red,Square,Lion,China,...,2,Grandmaster,Lava Hot,j,R,qA,2,10,1,0
1,87842,0,1,1,T,Y,Green,Triangle,Axolotl,Russia,...,1,Contributor,Boiling Hot,i,N,uJ,2,11,0,0
2,168260,0,0,0,T,Y,Blue,Trapezoid,Hamster,Russia,...,1,Contributor,Freezing,f,P,MV,7,9,0,0
3,76536,0,0,0,T,Y,Blue,Square,Hamster,Russia,...,1,Novice,Boiling Hot,j,G,mb,2,10,1,0
4,291707,0,0,1,T,N,Blue,Circle,Cat,Canada,...,3,Grandmaster,Warm,k,W,qw,1,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,191743,0,0,0,T,N,Green,Square,Dog,Canada,...,2,Grandmaster,Boiling Hot,h,U,kL,4,12,1,4
299996,190815,0,1,0,T,Y,Green,Trapezoid,Axolotl,Costa Rica,...,1,Grandmaster,Cold,f,T,dZ,2,1,1,4
299997,268154,0,1,1,F,N,Blue,Trapezoid,Dog,Russia,...,2,Novice,Lava Hot,g,T,CM,3,10,0,4
299998,107081,0,0,1,T,N,Blue,Square,Lion,China,...,1,Expert,Lava Hot,k,I,bJ,5,9,1,4
299999,104630,0,0,0,F,Y,Green,Trapezoid,Dog,Canada,...,1,Grandmaster,Freezing,d,G,rp,1,11,1,4

In [4]:
print("hello")

hello

0     223793
1      87842
2     168260
3      76536
4     291707
5     203479
6      35108
7     201033
8      62673
9     171705
10     67218
11    120198
12     42008
13     89281
14     34121
15    209116
16     63524
17    289699
18    194736
19    150994
20    155899
21     14737
22    247193
23     60682
24     31159
25      5782
26    118601
27    211023
28      9982
29    189781
30    212019
Name: id, dtype: int64